---
import { Image } from "astro:assets"
import CartButton from "./CartButton.astro"
import Stars from "./Stars.astro"
import type { CartItem } from "@/types/CartItem"
import AddToCart from "@/components/Cart/AddToCartForm"

interface Props {
	id: string
	brand: string
	image: string
	name: string
	presentation: number
	presentation_format: string
	price: number
	stock: number
	rating: number
}

const { id, brand, image, name, presentation, presentation_format, price, stock, rating }: Props =
	Astro.props

const item = { id, name, imageSrc: image, quantity: 1, price } as CartItem
---

<div class="flex flex-col rounded-lg p-2 transition hover:shadow-lg">
	<a href={`product/${id}`} class="flex-1">
		<Image src={image} inferSize alt={name} class="mb-2 rounded" />
		<div class="pl-3">
			<p class="text-xs font-semibold uppercase text-bluegreen">{brand}</p>
			<h2 class="text-lg font-semibold capitalize">{name}</h2>
			<p>{presentation} {presentation_format}</p>
			<Stars rating={rating} starsClass="size-3" />
			<p class="text-xl font-bold capitalize">{price} €</p>
		</div>
	</a>
	<AddToCart item={item} withQuantity={false} client:visible><CartButton /></AddToCart>
</div>
