---
import { type Product } from "../../types/Product";
import CardProduct from "./CardProduct.astro";
// const res = await fetch("https://capricci-backend.onrender.com/api/products");
// const data = (await res.json()) as Product[];
const data = [
    {
        id: "de2146d1-2263-4fcf-a3b0-9ff5ac3d88df",

        created_at: "2024-04-29T14:02:38.752Z",

        updated_at: "2024-04-29T14:02:38.753Z",

        brand: "Stevens, Thompson and Guerrero",

        category: "civil",

        description:
            "Cold artist nation manager measure. Month reflect all office idea may.\n" +
            "Child happy own. Past measure president west.",

        image: "https://capricci.s3.amazonaws.com/media/products/another.png",

        is_active: true,

        name: "another",

        presentation: 68,

        presentation_format: "establish",

        price: "29.90",

        stock: 69,
    },

    {
        id: "7133519f-8228-41c9-b1e3-98014610664b",

        created_at: "2024-04-29T14:02:48.962Z",

        updated_at: "2024-04-29T14:02:48.963Z",

        brand: "Clark Ltd",

        category: "magazine",

        description: "Order while if everyone stay detail. Over our civil would. A require partner side.",

        image: "https://capricci.s3.amazonaws.com/media/products/alone.png",

        is_active: true,

        name: "alone",

        presentation: 92,

        presentation_format: "maybe",

        price: "42.64",

        stock: 97,
    },

    {
        id: "2ea7abae-9950-40ed-943c-ef337f1847ea",

        created_at: "2024-04-29T14:02:57.329Z",

        updated_at: "2024-04-29T14:02:57.329Z",

        brand: "Sellers LLC",

        category: "paper",

        description: "Since half decision take. More change film successful.\n" + "Even director indeed hundred.",

        image: "https://capricci.s3.amazonaws.com/media/products/audience.png",

        is_active: true,

        name: "audience",

        presentation: 41,

        presentation_format: "industry",

        price: "69.04",

        stock: 17,
    },

    {
        id: "8201c8ff-e167-49ce-9c0e-1e198c5cc5b2",

        created_at: "2024-04-29T14:03:04.813Z",

        updated_at: "2024-04-29T14:03:04.813Z",

        brand: "Williams-Mayer",

        category: "speech",

        description:
            "Enjoy democratic theory Mrs. Three page table.\n" +
            "Floor call road ability white. Political reach Democrat. Beyond high nothing federal.",

        image: "https://capricci.s3.amazonaws.com/media/products/girl.png",

        is_active: true,

        name: "girl",

        presentation: 42,

        presentation_format: "leg",

        price: "28.31",

        stock: 85,
    },

    {
        id: "fe84b9ae-b7cb-4485-a89c-8c862b12cd69",

        created_at: "2024-04-29T14:03:11.135Z",

        updated_at: "2024-04-29T14:03:11.135Z",

        brand: "Miller-Rollins",

        category: "would",

        description: "Much everybody product act. Save should sport over everyone sport. Result network site business.",

        image: "https://capricci.s3.amazonaws.com/media/products/new.png",

        is_active: true,

        name: "new",

        presentation: 1,

        presentation_format: "always",

        price: "85.88",

        stock: 6,
    },

    {
        id: "7712a7e0-18a9-4814-8445-d872b16e70c6",

        created_at: "2024-04-29T14:03:17.151Z",

        updated_at: "2024-04-29T14:03:17.151Z",

        brand: "Thomas Inc",

        category: "expert",

        description:
            "Important decision every travel.\n" +
            "Single if pretty could sometimes certain. Consider magazine learn type structure but for indeed. Less when realize area conference. Season back method idea.",

        image: "https://capricci.s3.amazonaws.com/media/products/top.png",

        is_active: true,

        name: "top",

        presentation: 41,

        presentation_format: "recognize",

        price: "98.45",

        stock: 6,
    },

    {
        id: "ba622e9d-49a7-4980-9591-9e9e439a994f",

        created_at: "2024-04-29T14:03:24.282Z",

        updated_at: "2024-04-29T14:03:24.282Z",

        brand: "Valdez-Carter",

        category: "style",

        description:
            "Understand dinner produce score old TV turn financial. Hear person industry cell letter same investment. Attack around reveal never.",

        image: "https://capricci.s3.amazonaws.com/media/products/across.png",

        is_active: true,

        name: "across",

        presentation: 93,

        presentation_format: "leg",

        price: "88.59",

        stock: 73,
    },

    {
        id: "7c2994f6-4256-4566-a73f-8e10738d5816",

        created_at: "2024-04-29T14:03:33.243Z",

        updated_at: "2024-04-29T14:03:33.243Z",

        brand: "Allen, Griffith and Weber",

        category: "arrive",

        description:
            "Mention outside point teacher raise move person. Mission save charge.\n" +
            "Medical foreign they may social. Building market family time want whose. Speech job know charge talk imagine buy across.",

        image: "https://capricci.s3.amazonaws.com/media/products/like.png",

        is_active: true,

        name: "like",

        presentation: 25,

        presentation_format: "hair",

        price: "42.78",

        stock: 49,
    },

    {
        id: "11c9806c-cf2a-4d14-881a-c3b551969131",

        created_at: "2024-04-29T14:03:40.834Z",

        updated_at: "2024-04-29T14:03:40.834Z",

        brand: "Green, White and Allen",

        category: "woman",

        description:
            "Painting age all represent. Indeed finish line generation language.\n" +
            "About wall mother. Sort open specific of. You boy process about.\n" +
            "Firm able something far week law.",

        image: "https://capricci.s3.amazonaws.com/media/products/learn.png",

        is_active: true,

        name: "learn",

        presentation: 50,

        presentation_format: "thus",

        price: "77.36",

        stock: 34,
    },

    {
        id: "74a4097b-a037-4106-8f13-fdc5608eadc5",

        created_at: "2024-04-29T14:03:49.424Z",

        updated_at: "2024-04-29T14:03:49.425Z",

        brand: "Benson-Harris",

        category: "staff",

        description:
            "Out medical attack audience rise under street. Pattern near especially itself dream point often.\n" +
            "Protect couple contain someone involve list. Maybe yet product.",

        image: "https://capricci.s3.amazonaws.com/media/products/green.png",

        is_active: true,

        name: "green",

        presentation: 98,

        presentation_format: "civil",

        price: "51.89",

        stock: 69,
    },

    {
        id: "73989d27-c87e-481b-9bb2-e540133fa797",

        created_at: "2024-04-29T14:03:58.172Z",

        updated_at: "2024-04-29T14:03:58.172Z",

        brand: "Brown and Sons",

        category: "wish",

        description:
            "Family stock happen participant form skin. Class per machine effort.\n" +
            "Style wide car recently. Six but within quite fill small whole.",

        image: "https://capricci.s3.amazonaws.com/media/products/home.png",

        is_active: true,

        name: "home",

        presentation: 40,

        presentation_format: "project",

        price: "73.50",

        stock: 12,
    },

    {
        id: "0a76523a-da51-4493-b35e-abd895267f38",

        created_at: "2024-04-29T14:04:07.784Z",

        updated_at: "2024-04-29T14:04:07.784Z",

        brand: "Briggs Ltd",

        category: "represent",

        description:
            "Law choose least dog eight play.\n" +
            "Eight speech car and policy free allow benefit. Travel management agent probably. Nation sea base join which run candidate.",

        image: "https://capricci.s3.amazonaws.com/media/products/argue.png",

        is_active: true,

        name: "argue",

        presentation: 79,

        presentation_format: "do",

        price: "69.81",

        stock: 15,
    },

    {
        id: "b1c68614-8cf8-4b8d-8b74-3225349ced6d",

        created_at: "2024-04-29T14:04:15.569Z",

        updated_at: "2024-04-29T14:04:15.570Z",

        brand: "Hunter, Henderson and Frederick",

        category: "mouth",

        description:
            "Assume develop important production late respond. Nor brother get per. Heavy speech maybe weight.\n" +
            "Box employee will natural give bring. Figure later billion west.",

        image: "https://capricci.s3.amazonaws.com/media/products/into.png",

        is_active: true,

        name: "into",

        presentation: 6,

        presentation_format: "hit",

        price: "18.42",

        stock: 84,
    },

    {
        id: "ebcd9589-452e-4333-824d-a5cbd6cd525f",

        created_at: "2024-04-29T14:04:25.189Z",

        updated_at: "2024-04-29T14:04:25.189Z",

        brand: "Floyd, Newman and Allen",

        category: "company",

        description:
            "Reduce return indicate answer win interview truth. Large site suffer dark example phone. Movement region him present.",

        image: "https://capricci.s3.amazonaws.com/media/products/seek.png",

        is_active: true,

        name: "seek",

        presentation: 82,

        presentation_format: "shake",

        price: "92.01",

        stock: 96,
    },

    {
        id: "24901006-8766-4446-9cc0-ee81caee7a54",

        created_at: "2024-04-29T14:04:34.623Z",

        updated_at: "2024-04-29T14:04:34.623Z",

        brand: "Scott-Frank",

        category: "key",

        description:
            "Than look smile executive able they. Support road identify test. Table face writer consider two start wear financial.",

        image: "https://capricci.s3.amazonaws.com/media/products/big.png",

        is_active: true,

        name: "big",

        presentation: 50,

        presentation_format: "dark",

        price: "54.72",

        stock: 51,
    },

    {
        id: "8a1b2915-dd83-43fa-b37b-5c789afee143",

        created_at: "2024-04-29T14:04:43.778Z",

        updated_at: "2024-04-29T14:04:43.779Z",

        brand: "Schwartz-Cobb",

        category: "although",

        description:
            "Establish majority beyond it chair. Probably increase section. Kid discover yes sense manage safe. Maintain fear radio we involve it.",

        image: "https://capricci.s3.amazonaws.com/media/products/series.png",

        is_active: true,

        name: "series",

        presentation: 3,

        presentation_format: "like",

        price: "20.43",

        stock: 3,
    },

    {
        id: "4ea47a7d-10b2-4d00-9bbe-b9d0bef735f1",

        created_at: "2024-04-29T14:04:54.319Z",

        updated_at: "2024-04-29T14:04:54.321Z",

        brand: "Mason-Tran",

        category: "bed",

        description:
            "Scientist sea wait size customer theory. Story material despite Mrs three process. Throughout represent individual let employee.",

        image: "https://capricci.s3.amazonaws.com/media/products/turn.png",

        is_active: true,

        name: "turn",

        presentation: 17,

        presentation_format: "point",

        price: "12.40",

        stock: 72,
    },

    {
        id: "60dfc467-e456-46c9-878d-9b61720e3893",

        created_at: "2024-04-29T14:05:07.158Z",

        updated_at: "2024-04-29T14:05:07.160Z",

        brand: "Gillespie Inc",

        category: "tonight",

        description:
            "Old in site sense food. Bag once myself painting establish. Nation develop affect skin growth even tough.",

        image: "https://capricci.s3.amazonaws.com/media/products/nation.png",

        is_active: true,

        name: "nation",

        presentation: 51,

        presentation_format: "direction",

        price: "56.71",

        stock: 76,
    },

    {
        id: "12063648-8a29-43ef-ba34-27fc02c137fd",

        created_at: "2024-04-29T14:05:22.157Z",

        updated_at: "2024-04-29T14:05:22.158Z",

        brand: "Johnson Ltd",

        category: "our",

        description:
            "Environment hot participant similar people teacher listen. Eight under gas heavy national. Accept main stand check home.",

        image: "https://capricci.s3.amazonaws.com/media/products/within.png",

        is_active: true,

        name: "within",

        presentation: 17,

        presentation_format: "wrong",

        price: "24.67",

        stock: 39,
    },

    {
        id: "f070a259-5af1-4df5-b34f-0edc4cd0508f",

        created_at: "2024-04-29T14:05:36.326Z",

        updated_at: "2024-04-29T14:05:36.328Z",

        brand: "Martin-Lawrence",

        category: "PM",

        description:
            "Read individual popular card financial.\n" +
            "Health majority manager little very take. Necessary common art wife significant. Thought between tell only study mission discussion.",

        image: "https://capricci.s3.amazonaws.com/media/products/art.png",

        is_active: true,

        name: "art",

        presentation: 10,

        presentation_format: "should",

        price: "21.35",

        stock: 5,
    },

    {
        id: "e264fa8f-9d6b-4c43-b0a3-003b9698e450",

        created_at: "2024-04-29T14:05:47.806Z",

        updated_at: "2024-04-29T14:05:47.806Z",

        brand: "Walker-Mora",

        category: "message",

        description:
            "Great her sure participant turn side left. Stay store face small action its. Attack yet crime pass improve million performance.\n" +
            "Doctor than direction. Adult job everyone.",

        image: "https://capricci.s3.amazonaws.com/media/products/magazine.png",

        is_active: true,

        name: "magazine",

        presentation: 2,

        presentation_format: "cell",

        price: "75.73",

        stock: 35,
    },

    {
        id: "5a0c38c2-f644-42a7-ae0c-e505b8c47957",

        created_at: "2024-04-29T14:05:58.147Z",

        updated_at: "2024-04-29T14:05:58.148Z",

        brand: "Harmon-Ford",

        category: "western",

        description:
            "With guy similar voice democratic common know. Such reality available keep. Now woman every country. Pressure power mind huge.",

        image: "https://capricci.s3.amazonaws.com/media/products/ball.png",

        is_active: true,

        name: "ball",

        presentation: 36,

        presentation_format: "mouth",

        price: "75.85",

        stock: 1,
    },

    {
        id: "150bb1ce-ad22-4e5e-9218-d0b0fd867989",

        created_at: "2024-04-29T14:06:07.527Z",

        updated_at: "2024-04-29T14:06:07.527Z",

        brand: "Francis-Norton",

        category: "already",

        description:
            "Keep teach not explain class section politics. Especially but sea well development camera.\n" +
            "Professional fund agent hotel town option trouble. Social only he else. Brother often exist enough.",

        image: "https://capricci.s3.amazonaws.com/media/products/technology.png",

        is_active: true,

        name: "technology",

        presentation: 91,

        presentation_format: "nearly",

        price: "73.27",

        stock: 40,
    },

    {
        id: "121d3f0d-5484-4726-8c2f-93c4923c7055",

        created_at: "2024-04-29T14:06:17.495Z",

        updated_at: "2024-04-29T14:06:17.495Z",

        brand: "Johnson-Briggs",

        category: "foreign",

        description: "Democrat baby candidate fund. Throw game store prepare term experience.",

        image: "https://capricci.s3.amazonaws.com/media/products/Mrs.png",

        is_active: true,

        name: "Mrs",

        presentation: 60,

        presentation_format: "give",

        price: "46.09",

        stock: 49,
    },

    {
        id: "e69e58ca-fc72-4dcb-aa9c-975bfe9e260c",

        created_at: "2024-04-29T14:06:29.433Z",

        updated_at: "2024-04-29T14:06:29.434Z",

        brand: "Mccormick, Lambert and Moore",

        category: "may",

        description:
            "Section paper strategy form training. In so Mr car necessary generation. Individual candidate security against.",

        image: "https://capricci.s3.amazonaws.com/media/products/manage.png",

        is_active: true,

        name: "manage",

        presentation: 85,

        presentation_format: "sense",

        price: "48.99",

        stock: 43,
    },

    {
        id: "8d4f5122-586a-404b-bbda-3eeebc51c7e7",

        created_at: "2024-04-29T14:06:43.542Z",

        updated_at: "2024-04-29T14:06:43.544Z",

        brand: "Martinez, Roberts and Thompson",

        category: "exist",

        description:
            "Stock although letter case trip answer. Marriage wife wife discussion well early yard star. Sense either green eight seek.",

        image: "https://capricci.s3.amazonaws.com/media/products/race.png",

        is_active: true,

        name: "race",

        presentation: 62,

        presentation_format: "fast",

        price: "67.88",

        stock: 62,
    },

    {
        id: "55116f77-3e96-43dd-9cb3-20e109d26547",

        created_at: "2024-04-29T14:06:54.324Z",

        updated_at: "2024-04-29T14:06:54.325Z",

        brand: "Owens-Pitts",

        category: "along",

        description:
            "Herself book particular table. Inside large region morning tough. However kitchen become last other write thank.\n" +
            "School point same series civil. Through conference might energy new board speak.",

        image: "https://capricci.s3.amazonaws.com/media/products/life.png",

        is_active: true,

        name: "life",

        presentation: 1,

        presentation_format: "institution",

        price: "27.91",

        stock: 63,
    },

    {
        id: "dc96b35b-6a1b-4721-880f-f13ff859f1af",

        created_at: "2024-04-29T14:07:04.977Z",

        updated_at: "2024-04-29T14:07:04.978Z",

        brand: "Johnson, Li and Smith",

        category: "control",

        description:
            "Base major especially tough best appear. Past despite back unit none face. Investment skin support lay. Join industry present real.",

        image: "https://capricci.s3.amazonaws.com/media/products/story.png",

        is_active: true,

        name: "story",

        presentation: 48,

        presentation_format: "poor",

        price: "76.01",

        stock: 61,
    },

    {
        id: "55a92935-c10c-4981-bed2-056158e346ba",

        created_at: "2024-04-29T14:07:14.655Z",

        updated_at: "2024-04-29T14:07:14.656Z",

        brand: "Mann Inc",

        category: "rule",

        description:
            "Boy thought what political development. Dark sister community. Kind bank character social service other.",

        image: "https://capricci.s3.amazonaws.com/media/products/require.png",

        is_active: true,

        name: "require",

        presentation: 2,

        presentation_format: "heavy",

        price: "13.53",

        stock: 68,
    },

    {
        id: "2bbe90b8-41ee-4ede-b496-3de18d676f70",

        created_at: "2024-04-29T14:07:40.062Z",

        updated_at: "2024-04-29T14:07:40.064Z",

        brand: "Howe-Walker",

        category: "maintain",

        description:
            "Edge sign policy draw brother. Weight spend spring professional probably major very. Mrs suffer run page foot responsibility final.",

        image: "https://capricci.s3.amazonaws.com/media/products/Republican.png",

        is_active: true,

        name: "Republican",

        presentation: 40,

        presentation_format: "job",

        price: "80.52",

        stock: 86,
    },

    {
        id: "6da5a6d4-87dc-445d-90c2-d6d91a56a973",

        created_at: "2024-04-29T14:07:54.121Z",

        updated_at: "2024-04-29T14:07:54.123Z",

        brand: "Merritt LLC",

        category: "know",

        description:
            "Fast black tree society. Station most couple.\n" +
            "Condition article interesting stay laugh. Water plan sister be anyone relationship. Board card center.",

        image: "https://capricci.s3.amazonaws.com/media/products/break.png",

        is_active: true,

        name: "break",

        presentation: 70,

        presentation_format: "everyone",

        price: "18.99",

        stock: 3,
    },

    {
        id: "990d3092-2cbc-4914-8a78-c696d0f30c24",

        created_at: "2024-04-29T14:08:07.996Z",

        updated_at: "2024-04-29T14:08:07.997Z",

        brand: "Perry LLC",

        category: "owner",

        description:
            "Individual federal matter nation. Action bed for night meet front today.\n" +
            "Too stop cell letter population garden big. Difference with quite it. From about finally age remember.",

        image: "https://capricci.s3.amazonaws.com/media/products/section.png",

        is_active: true,

        name: "section",

        presentation: 22,

        presentation_format: "table",

        price: "53.13",

        stock: 40,
    },

    {
        id: "c7d41fcc-aae1-48a2-ac6d-dacf3202cdec",

        created_at: "2024-04-29T14:08:19.897Z",

        updated_at: "2024-04-29T14:08:19.898Z",

        brand: "Walter, Roberts and Barrett",

        category: "think",

        description:
            "Prove somebody free great. Soldier red practice upon.\n" +
            "Yeah long draw add can continue. Drop director mouth enough third strong war. Air president chair.",

        image: "https://capricci.s3.amazonaws.com/media/products/attack.png",

        is_active: true,

        name: "attack",

        presentation: 96,

        presentation_format: "chance",

        price: "72.22",

        stock: 64,
    },

    {
        id: "62273ddf-8cab-467a-a261-35a4da9b1f76",

        created_at: "2024-04-29T14:08:29.203Z",

        updated_at: "2024-04-29T14:08:29.203Z",

        brand: "Benson-Hawkins",

        category: "on",

        description:
            "Company rest people current dinner. Memory design up couple true both.\n" +
            "Born southern perhaps sign product. Answer provide minute generation bill activity those. High charge yard.",

        image: "https://capricci.s3.amazonaws.com/media/products/rise.png",

        is_active: true,

        name: "rise",

        presentation: 95,

        presentation_format: "pull",

        price: "21.65",

        stock: 36,
    },

    {
        id: "a805408a-da94-4eb6-9aa1-d21d218f3bbb",

        created_at: "2024-04-29T14:08:39.987Z",

        updated_at: "2024-04-29T14:08:39.988Z",

        brand: "Anderson-Berg",

        category: "heavy",

        description: "Left probably one arm majority suddenly. Want ahead language evening identify.",

        image: "https://capricci.s3.amazonaws.com/media/products/lead.png",

        is_active: true,

        name: "lead",

        presentation: 43,

        presentation_format: "notice",

        price: "59.22",

        stock: 90,
    },

    {
        id: "a054266f-1144-4070-bb2b-0258fdba0693",

        created_at: "2024-04-29T14:08:58.912Z",

        updated_at: "2024-04-29T14:08:58.914Z",

        brand: "Brooks-Thompson",

        category: "voice",

        description:
            "Type play rule part worker. Bring may scene spend analysis something. Hair stuff drop.\n" +
            "Lead arrive might yard time show. Certainly wish only second hotel.",

        image: "https://capricci.s3.amazonaws.com/media/products/fear.png",

        is_active: true,

        name: "fear",

        presentation: 88,

        presentation_format: "also",

        price: "85.87",

        stock: 77,
    },

    {
        id: "2cfe9418-80c2-449c-82a9-214c9edae87d",

        created_at: "2024-04-29T14:09:08.706Z",

        updated_at: "2024-04-29T14:09:08.707Z",

        brand: "Keller, Dominguez and Green",

        category: "become",

        description:
            "Speak energy sing price least her in. Same a nothing open. Case know alone some.\n" +
            "Surface bank personal by. Pull perhaps short participant tree bill whole.\n" +
            "Us adult a. Dog watch machine medical.",

        image: "https://capricci.s3.amazonaws.com/media/products/today.png",

        is_active: true,

        name: "today",

        presentation: 20,

        presentation_format: "top",

        price: "28.11",

        stock: 87,
    },

    {
        id: "9f1ba761-e2c5-4f02-b993-1af0a8b5f4b5",

        created_at: "2024-04-29T14:09:18.219Z",

        updated_at: "2024-04-29T14:09:18.221Z",

        brand: "Lucero, Thompson and Clark",

        category: "need",

        description: "Control experience radio street issue. Sometimes south chance ago analysis throw very every.",

        image: "https://capricci.s3.amazonaws.com/media/products/husband.png",

        is_active: true,

        name: "husband",

        presentation: 70,

        presentation_format: "everyone",

        price: "88.57",

        stock: 47,
    },

    {
        id: "8d015056-54f7-45af-9fb1-ec62c8bdacaa",

        created_at: "2024-04-29T14:09:25.644Z",

        updated_at: "2024-04-29T14:09:25.644Z",

        brand: "Chandler-Ramirez",

        category: "high",

        description:
            "Stage society tree party believe. People whatever through decade institution president. Central economic be improve baby pay allow.",

        image: "https://capricci.s3.amazonaws.com/media/products/system.png",

        is_active: true,

        name: "system",

        presentation: 60,

        presentation_format: "teacher",

        price: "25.63",

        stock: 44,
    },

    {
        id: "c28e0634-c313-41e9-8ee3-5b09558af1a3",

        created_at: "2024-04-29T14:09:34.098Z",

        updated_at: "2024-04-29T14:09:34.098Z",

        brand: "Parsons-Hunt",

        category: "style",

        description:
            "Option record institution politics three sister we check. However across drop pass work several. Base once investment director.",

        image: "https://capricci.s3.amazonaws.com/media/products/late.png",

        is_active: true,

        name: "late",

        presentation: 69,

        presentation_format: "animal",

        price: "40.15",

        stock: 67,
    },

    {
        id: "66bdd6a1-83fd-48d2-9a76-0cad710e06c8",

        created_at: "2024-04-29T14:09:42.299Z",

        updated_at: "2024-04-29T14:09:42.300Z",

        brand: "Phillips-Reed",

        category: "hold",

        description:
            "Always loss ten of step. Loss yard man wind. Series total performance response century happy moment.",

        image: "https://capricci.s3.amazonaws.com/media/products/season.png",

        is_active: true,

        name: "season",

        presentation: 43,

        presentation_format: "add",

        price: "67.06",

        stock: 2,
    },

    {
        id: "c9edad26-42d3-4902-b3b5-74509cdda432",

        created_at: "2024-04-29T14:09:55.154Z",

        updated_at: "2024-04-29T14:09:55.155Z",

        brand: "Peters Ltd",

        category: "other",

        description:
            "Across everyone increase. Boy social section turn. Religious team hope station model.\n" +
            "Bank suggest treatment against upon build amount. Child window east beautiful.",

        image: "https://capricci.s3.amazonaws.com/media/products/brother.png",

        is_active: true,

        name: "brother",

        presentation: 93,

        presentation_format: "half",

        price: "38.00",

        stock: 43,
    },

    {
        id: "3e8c2909-dc2e-4a3d-981b-89c1571ecd3c",

        created_at: "2024-04-29T14:10:08.141Z",

        updated_at: "2024-04-29T14:10:08.147Z",

        brand: "Ruiz Ltd",

        category: "picture",

        description:
            "Site likely understand same early truth. How must fire sign statement charge.\n" +
            "Offer fast know.\n" +
            "Quality or action. Enough car charge enjoy. Cause trial result then team whether mouth total.",

        image: "https://capricci.s3.amazonaws.com/media/products/admit.png",

        is_active: true,

        name: "admit",

        presentation: 38,

        presentation_format: "least",

        price: "90.09",

        stock: 22,
    },

    {
        id: "5e9620f1-4a7b-4874-90a8-50f195d0b742",

        created_at: "2024-04-29T14:10:23.511Z",

        updated_at: "2024-04-29T14:10:23.515Z",

        brand: "Velazquez and Sons",

        category: "purpose",

        description:
            "Forget student book camera. Organization always son. Do green voice stay fear threat method.\n" +
            "Scene tell care stop friend certain while.",

        image: "https://capricci.s3.amazonaws.com/media/products/thing.png",

        is_active: true,

        name: "thing",

        presentation: 57,

        presentation_format: "range",

        price: "64.32",

        stock: 3,
    },

    {
        id: "93ec4277-f94f-4ed4-8086-49934f1777f6",

        created_at: "2024-04-29T14:10:36.414Z",

        updated_at: "2024-04-29T14:10:36.415Z",

        brand: "Townsend, Rodriguez and Rodriguez",

        category: "yourself",

        description:
            "Avoid prevent partner truth pressure rather. Watch each charge we our project. Expert herself maintain.\n" +
            "Measure bed final personal. Account according open week cause bank.",

        image: "https://capricci.s3.amazonaws.com/media/products/oil.png",

        is_active: true,

        name: "oil",

        presentation: 38,

        presentation_format: "key",

        price: "24.45",

        stock: 47,
    },

    {
        id: "a17dd301-64f3-4f64-bdc5-40e76d763a17",

        created_at: "2024-04-29T14:10:49.115Z",

        updated_at: "2024-04-29T14:10:49.116Z",

        brand: "Miller and Sons",

        category: "song",

        description:
            "Find leg research despite. Nature national budget support state. Hope yeah two culture. Second spring work night Mrs national.",

        image: "https://capricci.s3.amazonaws.com/media/products/employee.png",

        is_active: true,

        name: "employee",

        presentation: 10,

        presentation_format: "become",

        price: "19.85",

        stock: 32,
    },

    {
        id: "052c6393-3a83-401c-807a-03d115768161",

        created_at: "2024-04-29T14:11:00.008Z",

        updated_at: "2024-04-29T14:11:00.008Z",

        brand: "Gray, Baker and Skinner",

        category: "hold",

        description:
            "Until study area environment brother imagine else. Discover player now from first natural find executive. Bar which note machine matter.",

        image: "https://capricci.s3.amazonaws.com/media/products/class.png",

        is_active: true,

        name: "class",

        presentation: 27,

        presentation_format: "sister",

        price: "59.82",

        stock: 93,
    },

    {
        id: "b537a628-07e8-4a73-a02c-18ab94fbeac6",

        created_at: "2024-04-29T14:11:09.604Z",

        updated_at: "2024-04-29T14:11:09.604Z",

        brand: "Jones, Turner and King",

        category: "discover",

        description:
            "Activity store lose each spring according remember. Hope lawyer dream. Charge concern far realize police class.",

        image: "https://capricci.s3.amazonaws.com/media/products/bad.png",

        is_active: true,

        name: "bad",

        presentation: 29,

        presentation_format: "voice",

        price: "96.58",

        stock: 29,
    },

    {
        id: "c0cde8b1-7db0-49d4-b3e4-f18a555fee2e",

        created_at: "2024-04-29T14:11:19.035Z",

        updated_at: "2024-04-29T14:11:19.035Z",

        brand: "Santos, Vasquez and Maldonado",

        category: "sit",

        description:
            "Technology voice raise few keep. Heavy bit ago. Citizen health small per image probably safe piece.\n" +
            "Raise avoid eat. Once describe example attorney. Success either respond type generation.",

        image: "https://capricci.s3.amazonaws.com/media/products/way.png",

        is_active: true,

        name: "way",

        presentation: 65,

        presentation_format: "try",

        price: "22.28",

        stock: 31,
    },

    {
        id: "5dbecd55-cbd4-46a8-badb-5b943401989a",

        created_at: "2024-04-29T14:02:26.710Z",

        updated_at: "2024-04-29T14:02:27.098Z",

        brand: "Mullen, Sellers and Friedman",

        category: "build",

        description:
            "Traditional attention issue their great sport. Reason TV tree network south explain all talk. Money current fall study including decade must.",

        image: "https://capricci.s3.amazonaws.com/media/products/local.png",

        is_active: true,

        name: "local",

        presentation: 43,

        presentation_format: "admit",

        price: "23.18",

        stock: 8,
    },
];
console.log(data);
---

<div class="grid gap-4 sm:grid-cols-3 lg:grid-cols-5">
    {
        data.map((product) => (
            <CardProduct
                brand={product.brand}
                description={product.description}
                image={product.image}
                name={product.name}
                presentation={product.presentation}
                presentation_format={product.presentation_format}
                price={product.price}
                stock={product.stock}
            />
        ))
    }
</div>
